NEXT_PUBLIC_SUPABASE_URL=https://lztnsgntfjavoovfewsa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6dG5zZ250Zmphdm9vdmZld3NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1NDYxNzUsImV4cCI6MjA5NzEyMjE3NX0.Ev7W1-zi71fYfAgWtdMrzRCuyhtRr-wti_8380Qk_Y4
